<div id="<%= dom_id time_log %>" class="bg-white shadow-md rounded-md p-5 mb-5">
  <div class="flex items-center justify-between">
    <div>
      <strong class="font-medium text-lg"><%= time_log.recorded_at %></strong>
      <span class="text-sm text-gray-500"><%= time_log.duration_in_minutes %> minutes</span>
    </div>
  </div>
</div>
